<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Email List</title>

    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

    <!-- STYLE -->
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    
    <div id="root">
        <h1>Email List</h1>
        <ul v-if="email.length === numEmail">
            <li v-for="item in email">{{item}}</li>
        </ul>
        <div v-else class="loading">Loading...</div>
    </div>
    
    <!-- JS -->
    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Main Script -->
    <script src="./js/script.js"></script>
</body>
</html>